* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.imagen1 {
  display: flex;
  justify-content:left;
  width: 8rem;
  height: 8rem;
}


.nav {
  background-color: rgba(31, 26, 23, 255);
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  z-index: 1000; 
  position: relative;
}

.lista {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1000; 

}

.lista .item-lista {
  display: grid;
  width: 1rem 1rem;
  padding-left: 1rem;
  z-index: 1000; 
}

.nav ul li a {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center
}

.background-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 0;
}

.active {
  opacity: 1;
}

.content {
  position: absolute;
  top: 25rem;
  left: 51.5rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* Color del texto */
}

.Titulo {
  font-size: 7rem;
  /* Tamaño del texto */
}

.Subtitulo {
  font-size: 2rem;
  top: 28rem;
}

.butt {
  display: flex;
  justify-content: center;
  position: relative;
  top: 26rem;
  opacity: 0.9;
  /* width: 100%; */
}


/**/

#nextBtn{
  position: relative;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.5rem;
  transition: all 0.6s ease;
  z-index: 2;
  border-radius: 1rem;
}
  
  #nextBtn {
      border: 3px solid rebeccapurple;
      overflow: hidden;
  }
  #nextBtn::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rebeccapurple;
      z-index: -2
  }
  #nextBtn::before{    
      content: "";
      position: absolute;
      width: 100%;
      height: 250px;
      left: 0;
      bottom: -150%;
      border-radius: 30%;
      background-color:  rgb(148, 100, 76);
      z-index: -1;
  }
  
  #nextBtn:hover::before {
      animation: nextBtn 2s linear both;
  }
  
  @keyframes nextBtn {
  
      0% {
      transform: rotate(0deg);
      }
      100%{
      bottom: 100px;
      transform: rotate(360deg);
      }
      }
/**/


.iconos{
  background-color: rgb(148, 100, 76);
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 2rem;
  grid-template-rows: 20rem 20rem 20rem;
  position: relative;
  top: 10rem;
  left: 2rem;
}
.iconos2{
  background-color: white;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  /* display: grid;
  grid-template-columns: 2rem;
  grid-template-rows: 20rem 20rem 20rem; */
  position: relative;
  top: 10rem;
  left: 2rem;
}

#barraNavegacion:hover {
  background-color: rgb(148, 100, 76);
  height: 7rem;
}

label {
  width: 40rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 30rem;
  grid-template-rows: 5rem 5rem 5rem 30rem;
  gap: 1rem;

}

input {

  /* background-color: rgb(148, 100, 76); */
  border-radius: 1rem;
}
span.Formulario {
  color: white;
}
.familiaLanzarini {
  width: 55rem;
  height: 40rem;

}

.container2 {
  width: 100rem;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}


.contenido {
  width: 80rem;
  padding: 20px; /* Espaciado interior */
  
}
.container p {
  padding: 2rem 2rem;
}

figcaption {
  color: grey;
  font-size: 1rem;
}

body.Nosotros {
  background-image: url('/images/patronDeCorcho.webp');
}
body.Contactos {
  background-image: url('/images/micro_carbon.png');
}
body.Vinos {
  background-image: url('/images/patronDeCorcho.webp');
}
.footer {
  height: 10rem;
  background-color:rgba(31, 26, 23, 255) ;
  font-size: 1.6rem;
}

.footer h1,h2 {
display: flex;
justify-content: flex-end;
align-items: center;
color: white;
}

form.Contact {
  width: 20rem;
  display: flex;
  align-items:end;
}


/* -------------------------------------------- */

button {
  
  position: relative;
  top: 1.2rem;
  
}
.container {
  gap: 3rem;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: right;
  
}

.card {
  box-shadow: 0.5rem 2rem 2rem grey;
  border: 1px solid rgba(211, 211, 211, 0.384);
  border-radius: 0.8rem;
  height: 43rem;
  width: 40rem;
  background-color: rgb(29, 27, 27);
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
}
.card:hover {
  transition: .5s ease-in;
  box-shadow: 0.5rem 2rem 6rem rgba(211, 211, 211, 0.519);
}
.card .card-image {
  
  font-size: 6rem;
  display: flex;
  width: 1fr;
  justify-content: center;
  align-items: center;
  height: 30rem;
  }

.card .card-name {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
  width: 1fr;
}
.card .card-price {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  width: 1fr;
}
.card .card-button {
  text-align: center;
  display: block;
}
.button-add {
  border-radius: 1rem;
  outline: 1rem solid blueviolet !important;
}
.card .card-button button {
  margin-top: 1rem;
  font-size: 2rem !important;
}
.card .card-button .disabled {
  background-color: lightgray !important;
  color: whitesmoke !important;
}


.btn-checkout {
  
  display: flex;
  align-items: center;
  position: relative;
  left: 60rem;
  
}
.boton-carrito {
  font-size: 4rem;
}
.btn-checkout:hover {
  box-shadow: 0.4rem 0.4rem 1rem ligthgray;
  transition: 0.17s ease-in;
}
.btn-checkout:active {
  transition: 0.3s ease-out;
  filter: grayscale(100%)
}
.form-checkout {
  background-color: rgba(139, 0, 139, 0.102);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
}

.claseDeVino {
  width: 4rem;
  height: 5rem;
}
body.checkout {
  background-image: url('/images/micro_carbon.png');
}

.card-image img {
  width: 50rem; /* Ajusta el ancho al 100% del contenedor */
  height: 50rem; /* Altura automática para mantener la proporción de la imagen */
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr; /* Columna para el nombre y precio, columna para la cantidad y descripción */
  gap: 10px;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 0;
}

.cart-item p:last-of-type {
  font-style: italic;
  color: #888;
}

.descripcion {
  width: 4rem;
  height: 4rem;
  /* z-index: 2; */
}

.container_description {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
}


/* .container_description {
  display: flex;
  flex-direction: row; 
}

 /* .descripcion {
  align-items: flex-start;
}

.descripcion + span {
  margin-left: 10px; 
}  */ 

.float-left {
  float: left;
}
.container_description {
  display: inline-block;
  display: flex; /* Make them inline elements */
  align-items: center; /* Align the text and icon in the center vertically */
  margin-bottom: 1rem; /*Add some margin for spacing*/
}
.descripcion {
  margin-right: 1rem; /* Add some margin to the right of the icons */
}
.icon-description {
  font-weight: bold; /* Make the text bold */
}
